<mat-card *ngFor="let article of articles"
  class="module article"
  (click)="goToArticle(article.url)">
  <mat-card-header>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
    <mat-card-subtitle>{{readableDate(article.publishedAt)}}</mat-card-subtitle>
  </mat-card-header>
  <picture>
    <source media='(min-width:0px)' srcset="{{article.urlToImage}}">
    <img mat-card-image src="{{article.urlToImage}}" alt="">
  </picture>
  <mat-card-content>
    <p>
      {{article.description}}
    </p>
  </mat-card-content>
</mat-card>