
<div class="contact-form">
    <form [formGroup]="contactForm"  #formDirective="ngForm"  (submit)="onSubmitContact(contactForm, formDirective)">
        <h1>Here's our contact form!</h1>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Full name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="contactForm.controls.name.invalid">The name is not valid</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="contactForm.controls.email.invalid">The email is not valid</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="messageFC" required></textarea>
            <mat-error *ngIf="contactForm.controls.messageFC.invalid && contactForm.controls.messageFC.touched">
                <span *ngIf="contactForm.controls.messageFC.errors.required">Please write your message.</span>
                <span *ngIf="contactForm.controls.messageFC.errors.minlength">Your message is too short.</span>
            </mat-error>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
</div>

